img {
  padding:1vh 1vh;
  border-radius:1em;
}

.boxContainer{
  border-radius: 10px;
  box-shadow: 0px 5px 10px #00308F;
  margin: 20px;
  min-width: 40%;
}

.titleBar {
  background-color: #000;
  display:block;
  color: #fff;
  padding-left: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.myBtn {
  background-color: #00308F;
  color:#fff;
  border-radius:1em;
  padding:0.5vh 0.5vh;
  margin: 10px 16px;
}

.myBtnInPopup {
  background-color: #282c34;
  color:#fff;
  border-radius:1em;
  padding:0.5vh 0.5vh;
  margin: 10px 16px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}